/* * {
  border: 1px solid red;
} */

body {
  background-color: rgba(26, 32, 44, 255);
  color: rgba(232, 231, 220, 255);
}

.container {
  width: 45%;
  margin: 5% auto;
}

.main-container-list {
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(23, 60, 43, 255);
}

.form-check-input[type="checkbox"] {
  width: 20px;
  height: 20px;
  outline: 2px solid rgba(92, 171, 139, 255);
  background-color: transparent;
  border: 1px solid rgba(92, 171, 139, 255);
}
