/* * {
  border: 1px solid red;
} */

body {
  background-color: rgba(26, 32, 44, 255);
  color: rgba(232, 231, 220, 255);
}

.container {
  width: 45%;
  margin: 5% auto;
}

.main-container-list {
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(23, 60, 43, 255);
}

.form-check-input[type="checkbox"] {
  width: 20px;
  height: 20px;
  outline: 2px solid rgba(92, 171, 139, 255);
  background-color: transparent;
  border: 1px solid rgba(92, 171, 139, 255);
}

.btn-list-item {
  background-color: transparent;
  border-color: rgba(247, 173, 178, 255);
  color: rgba(247, 173, 178, 255);
}

.btn-list-item:hover {
  background-color: rgba(247, 173, 178, 255);
  border-color: rgba(192, 157, 165, 255);
  color: rgba(255, 255, 255, 255);
}

.btn-add-task {
  background-color: rgba(142, 204, 250, 255);
  border-color: rgba(14, 35, 54, 255);

  color: rgba(14, 35, 54, 255);
  text-transform: uppercase;
  font-weight: 700;
}

.btn-add-task:hover {
  background-color: rgba(14, 35, 54, 255);
  border-color: rgba(142, 204, 250, 255);
  color: rgba(142, 204, 250, 255);
  text-transform: uppercase;
  font-weight: 700;
}

#inputListItem {
  background-color: transparent;
  color: whitesmoke;
}
